<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/prism.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/style.css">
        <style type="text/css">
            body { padding-top: 70px; }

            #content > h1:first-child {
                margin-top: 0px;
            }

            li.list-group-item a
            {
                display: block;
            }

            li.list-group-item.active a
            {
                color: #fff;
            }

            main {
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>

        <header class="navbar navbar-default navbar-fixed-top">
            <a class="navbar-brand" href="{{ baseUrl }}/">
                {{ title|default('The title') }}
            </a>
        </header>

        <main class="{{ menu ? 'container-fluid' : 'container' }}">
            <div class="row">

                {% if menu is defined %}
                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">

                    <div class="panel-group" role="tablist">
                            {% for itemId, item in menu.items %}
                            <div class="panel panel-default">
                              <div class="panel-heading" id="collapseListGroupHeading{{loop.index}}">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapseListGroup{{loop.index}}" aria-controls="collapseListGroup{{loop.index}}">
                                    {{ item.text }}
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseListGroup{{loop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading{{loop.index}}">
                                <ul class="list-group">
                                  {% if item.menu is defined %}
                                    {% for subItemId, subItem in item.menu %}
                                    <li class="list-group-item">
                                        <a href="{{ subItem.absoluteUrl|default(baseUrl ~ '/' ~ subItem.relativeUrl) }}">
                                            {{ subItem.text|raw }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                              </div>
                            </div>
                            {% endfor %}
                      </div>
                    </nav>

                {% endif %}

                <section id="content" class="{{ menu ? 'col-sm-9 col-lg-10' : 'col-sm-12' }}">
                    {{ content|raw }}
                </section>

            </div>
        </main>

        <script type="text/javascript" src="{{ baseUrl }}/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="{{ baseUrl }}/js/prism.js"></script>
        <script type="text/javascript" src="{{ baseUrl }}/js/raphael-min.js"></script>
        <script type="text/javascript" src="{{ baseUrl }}/js/flowchart-latest.js"></script>
        <script type="text/javascript" src="{{ baseUrl }}/js/underscore-min.js"></script>
        <script type="text/javascript" src="{{ baseUrl }}/js/sequence-diagram-min.js"></script>
        <script type="text/javascript" src="{{ baseUrl }}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ baseUrl }}/js/main.js"></script>
    </body>
</html>
